.wrapper {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}
@media screen and (max-width: 1440px) {
  .wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(43, 226, 89);
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(61, 43, 226);
  }
}
